:host {
  /* ici :host représente <app-header> */
  flex: 0 0 10%;  /* 10% de la hauteur parent (qui est app-root à 100%) */
  width: 100%;
  display: flex;  /* si besoin d’un display flex */
}

/* Ensuite, styliser le <header> interne si nécessaire */
header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: var(--button-border-color) 4px 4px 10px;
}
