<header>
  <div class="logo">
    <img src="logo_pix_circle-modified.png" width="55" alt="Logo pixCircle" />
    <h1>PixCircle!</h1>
  </div>
  <nav class="navigation">
    <ul>
      <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"><a routerLink="" >Accueil</a></li>
      <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"><a routerLink="pixcircles">Pixs</a></li>
      <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"><a routerLink="addpix">Add Pix</a></li>
      <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"><a routerLink="contact">Contact</a></li>
    </ul>
  </nav>
  <div class="header-actions">
    <div class="search-bar">
      <input type="text" placeholder="Rechercher...">
      <button type="submit">🔍</button>
    </div>
    <div routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="login">
      <a>Connexion</a>
    </div>
  </div>
</header>
