:host {
  /* Le :host correspond à app-root */
  display: flex;
  flex-direction: column;
  height: 100%; /* Pour occuper tout l'espace vertical du viewport */
  width: 100%;
  box-sizing: border-box;
}
