/* You can add global styles to this file, and also import other style files */

* {
  font-family: Roboto, Helvetica, sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth; // si visible
  scrollbar-width: none;
}

:root {
  --background-color: #a9c9ff; /* Bleu pastel */
  --card-background-color: #fad0c4; /* Pêche douce */
  --button-background-color: #ffaa7a; /* Corail chaud */
  --button-border-color: #ffdfd3; /* Beige rosé */
  --text-color: #4b4e6d; /* Bleu-gris profond */
  --header-background-color: #7a8fa6; /* Bleu-gris apaisant */
  --focus-color: #7a8fa6; /* Couleur de focus */
  --valid-color: #28a745; /* Vert pour les champs valides */
  --invalid-color: #dc3545; /* Rouge pour les champs invalides */
  --input-bg-color: #ffffff; /* Fond des champs de saisie */
  --hover-color: #ff7f50; /* Couleur de survol */
  --transition-duration: 0.3s; /* Durée des transitions */
  --f: .5em; /* control the folded part */
  --header-height: 80px;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%; /* Indispensable pour le calcul en % des hauteurs enfants */
  width: 100%;
  min-width: 320px;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: 'Arial', sans-serif;
}

.card {
  background-color: var(--card-background-color);
}

button {
  background-color: var(--button-background-color);
  border: 2px solid var(--button-border-color);
  color: var(--text-color);
  cursor: pointer;
  transition: background-color 0.3s ease;
  &:hover {
    background-color: var(--button-border-color);
  }
}

h1, h2, h3, p {
  color: var(--text-color);
}
