/* You can add global styles to this file, and also import other style files */

* {
  font-family: Roboto, Helvetica, sans-serif;
  box-sizing: border-box;
}

:root {
  --background-color: #A9C9FF; /* Pastel blue gradient */
  --card-background-color: #FAD0C4; /* Soft peach gradient */
  --button-background-color: #FFAAA7; /* Warm coral pastel */
  --button-border-color: #FFDFD3; /* Light pinkish beige */
  --text-color: #4B4E6D; /* Deep grayish-blue for contrast */
  --header-background-color: #7A8FA6; /* Un bleu-gris pastel et apaisant */
  --f: .5em; /* control the folded part */
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%; /* Indispensable pour le calcul en % des hauteurs enfants */
  width: 100%;
  min-width: 320px;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: 'Arial', sans-serif;
}

.card {
  background-color: var(--card-background-color);
}

button {
  background-color: var(--button-background-color);
  border: 2px solid var(--button-border-color);
  color: var(--text-color);
  cursor: pointer;
  transition: background-color 0.3s ease;
  &:hover {
    background-color: var(--button-border-color);
  }
}

h1, h2, h3, p {
  color: var(--text-color);
}
